/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
/.idea
bootstrap/cache/*
composer.lock
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.testing
.phpunit.result.cache
/_ide_helper.php
/public/js/vendor.js
/public/js/manifest.js
/public/js/app.js
/public/css/app.css
/public/fonts/vendor/font-awesome/fontawesome-webfont.svg
/public/fonts/vendor/font-awesome/fontawesome-webfont.ttf
/public/fonts/vendor/font-awesome/fontawesome-webfont.eot
/public/fonts/vendor/font-awesome/fontawesome-webfont.woff
/public/fonts/vendor/font-awesome/fontawesome-webfont.woff2
/public/mix-manifest.json
/.phpstorm.meta.php
/_ide_helper_models.php
/public/uploads/


!.gitkeep
/laravel-echo-server.lock
/laravel-echo-server.json
